@model IEnumerable<Ogretmen>

<h3>Öğretmen Listesi</h3>
<a href="/Ogretmen/Create" class="btn btn-primary">Ogretmen Ekle</a>
<hr>

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.OgretmenId)</th>
            <th>@Html.DisplayNameFor(m => m.Ad)</th>
            <th>@Html.DisplayNameFor(m => m.Soyad)</th>  
            <th>@Html.DisplayNameFor(m=>m.BaslamaTarihi)</th>
            <th style="width: 150px;"></th>          
        </tr>
    </thead>  
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.OgretmenId)</td>
                <td>@Html.DisplayFor(m => item.Ad)</td>
                <td>@Html.DisplayFor(m => item.Soyad)</td>
                <th>@Html.DisplayFor(m=>item.BaslamaTarihi)</th>
                <td>
                    <a  asp-action="Edit" asp-route-id = "@item.OgretmenId" class="btn btn-sm btn-primary">Edit</a>
                    <a  asp-action="Delete" asp-route-id = "@item.OgretmenId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>